.planet-stats {
  width: 100%;
  height: 40vh;
  display: grid;
  grid-column-gap: 0.3rem;
  grid-row-gap: 0.3rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  z-index: 1;
  top: 40px;
}

@media screen and (max-width: 768px) {
  .planet-stats {
    display: none;
    /* grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 100vh; */
  }
}

.feature {
  --x-px: calc(var(--x) * 1px);
  --y-px: calc(var(--y) * 1px);
  --border: 2px;
  height: auto;
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.feature:before,
.feature:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  inset: 0px;
  border-radius: inherit;
  opacity: var(--show-glow, 1);
  background: radial-gradient(
    500px circle at var(--x-px) var(--y-px),
    rgba(255, 255, 255, 0.5),
    transparent 50%
  );
}

.feature:before {
  z-index: 1;
}

.feature:after {
  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s ease;
}

.feature:hover:after {
  opacity: 1;
}

.feature-content {
  /* background: rgba(19, 19, 21, 1); */
  background: rgba(0, 0, 0, 0.4);
  border-radius: inherit;
  color: white;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  inset: var(--border);
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr; */
}

.feature-content > strong {
  font-size: 125%;
}

.feature-content > span {
  opacity: 0.75;
}
