.container {
  font-family: 'Roboto', sans-serif;
}

.table {
  border-radius: 15px;
  transition: all 0.3s ease;
}

.tableCell {
  border-radius: 15px;
}

.row:hover {
  background-color: #4a5568 !important;
  color: #f7fafc !important;
  transition: all 0.3s ease;
}
